<div class="home-screen">

  <% if logged_in? %>

      <div class="row">
        <section class="project_form">

        </section>

      </div>

  <% else %>

  <% end %>



  <% if logged_in? %>
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-12">

        </div>
      </div>

  <% else %>

  <% end %>

</div>