@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer {
  padding: 20px;
  background-color: #464745;
  /*border-top: #eeeeee 20px solid;*/
  /*border-bottom: #eeeeee 20px solid;*/
  color: #FFFFFF;
  height: 280px;
  width: 1140px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      //display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
  }
}

/* projects */

.projects {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    height: 110px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .subject {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
      margin: 0px auto;
    }
    font-size: x-large;
    font-weight: bold;

  }
  .title {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
    font-size: large;
    margin-top: 10px;

  }
  .timestamp {
    color: #000000;
    display: block;
    text-align: center;
    font-size: x-large;
    //height: 100px;
    margin-top: 10px;
    font-weight: bold;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-left: 10px;


  }
  .sub-text{

    display: block;
    text-align: center;

  }

  a{

    color: #000000;

  }



}



/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    height: 110px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .subject {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
      margin: 0px auto;
    }
    font-size: x-large;
    font-weight: bold;

  }
  .title {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
    font-size: large;
    margin-top: 10px;

  }
  .timestamp {
    color: #000000;
    display: block;
    text-align: center;
    font-size: x-large;
    //height: 100px;
    margin-top: 10px;
    font-weight: bold;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-left: 10px;


  }
  .sub-text{

    display: block;
    text-align: center;

  }

  a{

    color: #000000;

  }



}

.home-screen{

  border: #dddddd 1px solid;
  padding: 10px;
  min-height: 1000px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;

}

.navbar-inverse{

  background-color: #26ae90;

}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #777;
}

#logo{

  padding-top: 15px;

}

.toggle-button-profile{

  width: 98%;
  margin-bottom: 5px;


}

.profile-logout-button{

  width: 98%;
  margin-bottom: 5px;


}

.project-form{

  display: none;

}

.edit-profile-form{

  display: none;

}

.right-button-header{

  margin-right: 55px;

}


